<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79536548760-634qnh4lu97caff0seua4h5616h0utok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79536548760-634qnh4lu97caff0seua4h5616h0utok</string>
	<key>API_KEY</key>
	<string>AIzaSyD1pZBnICQPJK8hQnWXNzw1O546E9Lejv8</string>
	<key>GCM_SENDER_ID</key>
	<string>79536548760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.pvsadouskaya.ReminderWithWeather</string>
	<key>PROJECT_ID</key>
	<string>rainbowreminder-c73e3</string>
	<key>STORAGE_BUCKET</key>
	<string>rainbowreminder-c73e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79536548760:ios:6860ca853c11896023d9ed</string>
</dict>
</plist>